.root {
    margin: 0;
    padding: 0;
  }

.imageblock { max-width: 100%; max-height: 100%; border:1px solid black; padding: 0px; }
.receiptlayout { margin-top: 100px; }

@media all {
    .page-break {
        display: block;
    }
}

@media print {
    html,
    body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
  
  @page {
    size: auto;
    /* margin: 40mm 20mm; */
    margin: 10mm 15mm;
    display: none;
  }

sample {
    display: block;
}
